.products-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 30px;
	justify-content: space-between; /* Забезпечує рівні відступи між елементами */
  }
  
  .product-card {
	flex-basis: calc(33.33% - 40px); /* Вираховуємо ширину з урахуванням відступів */
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Додаємо простір між контентом і кнопкою */
	height: 100%; /* Вказуємо картці займати повну висоту */
	align-items: stretch;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	overflow: hidden;
	background-color: #fff;
  }
  
  .product-card * {
	transition: all 0.2s ease-in-out;
  }
  
  .product-card__image img {
	width: 100%;
	display: block;
  }
  
  .product-card__body {
	padding: 20px;
  }
  
  .product-card__title {
	margin: 0 0 10px;
	font-weight: bold;
	color: #333;
  }
  
  .product-card__desc {
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
  }
  
  .product-card__stock {
	font-size: 16px;
	color: #68bb79;
	margin-bottom: 10px;
  }
  
  .product-card__price {
	display: flex;
	align-items: baseline;
	margin-bottom: 10px;
  }
  
  .price__current {
	font-size: 20px;
	color: #333;
	font-weight: bold;
  }
  
  .price__old {
	font-size: 16px;
	text-decoration: line-through;
	margin-left: 10px;
	color: #999;
  }
  
  .product-card__labels {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
  }
  
  .label {
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 10px;
	color: #fff;
  }
  
  .label_hit {
	background: #68bb79;
  }
  
  .label_sale {
	background: #e86b6b;
  }
  
  .product-card__btn {
	text-align: center;
	padding: 10px;
  }
  
  .btn_product {
	padding: 10px 20px;
	border: none;
	background-color: #68bb79;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .btn_product:hover {
	background-color: #5aa769;
  }
  
  /* Медіа-запити для адаптивності */
  @media (max-width: 1024px) {
	.product-card {
	  flex-basis: calc(50% - 40px); /* Два продукти в ряд */
	}
  }
  
  @media (max-width: 768px) {
	.product-card {
	  flex-basis: calc(100% - 40px); /* Один продукт на ряд */
	}
  }
  